.red {
    background: red;
    margin-bottom: 20px;
    height: 100px;
}

.blue {
    background: blue;
    margin-bottom: 20px;
    height: 100px;
}

.green {
    background: green;
    height: 100px;
}