/* ========== navbar ========== */
.navbar {
    background-color: #ffffffdd;
    backdrop-filter: blur(5px);
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 1rem;
}

.logo {
    height: 50px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.logo:hover {
    transform: scale(1.05);
}
